.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: var(--width);
    height: var(--height);
    border-radius: 10px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
  }
  .outer-bar {
    /* ... */
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color:#ffe4b3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress-bar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffa500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .progress {
    position: absolute;
    /* top: 0;
    left: 0; */
    transform-origin: center;
  transform: rotate(270deg);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .name-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
    color:#000;
    text-align:center;
  }
  
  .name-text {
    font-size: 16px;
    color: grey;
  }
  
  /* Hide the Name component on small screens */
  @media (max-width: 600px) {
    .name-container {
      display: none;
    }
  }
  